.filme{
    height: 1900px;
    width: 100%;
}
.cont-filme{
    padding: 50px 50px;
}
.sobre-filme{
    padding-top: 50px;
    font-size: 20px;
    width: 49%;
}
.sobre-filme a{
        color: rgb(226, 80, 195);
        text-decoration: none;
}